Data/user_levels.csv
*.json
Data/processed_comments
__pycache__/Language_Detection.cpython-310.pyc
paper_tweetLID.pdf
Data/
__pycache__/feature_extraction_functions.cpython-310.pyc
__pycache__/features_and_svm_functions.cpython-310.pyc
Outputs/output01.yaml
.gitignore
eng_development_feeds_pre_split.pkl
testLea.py
