fastparquet==2022.12.0
ipykernel==6.16.0
ipython==8.5.0
ipywidgets==8.0.2
jupyter==1.0.0
langcodes==3.3.0
langdetect==1.0.9
nltk==3.8
notebook==6.5.2
numpy==1.23.3
pandas==1.5.0
pyparsing==3.0.9
PyYAML==6.0
scikit-learn==1.1.2
scipy==1.9.2
spacy==3.4.3
statsmodels==0.13.2
tqdm==4.64.1
